{% extends 'base.html' %}

{% block top_section %}
<div class="section">
    <h1>it's {{name}} (ummm, are you really that close?) 🏄</h1>
    <h2><a href="{{link}}" target="_blank">{{link_text}} </a></h2>
</div>
{% endblock %}

{% block body %} 
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="your_name">
            <i class="zmdi zmdi-account material-icons-name"></i>
        </label>
            <input type="text" name="username" placeholder="Username" required/>
    </div>
    <div class="form-group">
        <label for="your_pass">
            <i class="zmdi zmdi-lock"></i>
        </label>
            <input type="password" name="password" placeholder="Password" required/>
    </div>
    <button type="submit">
        Login
    </button>
</form>

<div class="msg-wrapper">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="list-style: none;color: red;">
            * {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %} 